* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: "Arial", sans-serif;
  --text-color: #000;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1em;
  cursor: none;
  line-height: 1;
}

body {
  /* width: 100vw;
  height: 100vh; */
  /* display: flex;
  flex-direction: column; */
}

#defaultCanvas0 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

header span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  /* width: 100%;
  position: absolute;
  bottom: 0;
*/
}

a {
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 1em;
  /* text-orientation: mixed;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; */
}

main {
  width: 100vw;
  height: 100vh;
}

section {
  display: flex;
}

section p {
  z-index: 1;
}

section img {
  z-index: 1;
}